.too-short-rides {
  display: none;
}
.too-tall-rides {
  display: none;
}
.all-rides {
  display: none;
}
.jumbotron {
  font-size: 100pt;
  background-color: deepskyblue;
  color: white;
  padding: 50px;
  text-align: center;
  font-style: arial;
}
